---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../icons/Code.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Daniel Romero - Backend Developer - Ingeriero de Software"
  description="Contacta a Daniel Romero para desarrollo web, Backend y demas"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  
  <div class="space-y-24">
    <SectionContainer id="proyectos">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white">
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</main>
</Layout>
