<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="text-xl [&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Daniel Andrés. Aunque mi experiencia laboral directa es
      limitada, he dedicado innumerables horas a <strong> proyectos personales y
        académicos </strong>que me han permitido aplicar y profundizar mis habilidades
      técnicas. Actualmente, estoy realizando diversos cursos para ampliar mis
      conocimientos en este vasto mundo de la programación. 
  
    </p>
  </div>
</article>
