---
const personalImageAlt = "Daniel Romero"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
import GmailIcon from "../icons/Gmail.astro"
import GitHubIcon from "../icons/GitHub.astro"
import DowloadIcon from "../icons/Dowload.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://avatars.githubusercontent.com/u/102865364?v=4"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/dromerof"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Backend Developer</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight:text-5xl text-green-500"
  >
    Daniel Romero
  </h1>
  <p
    class="mt-6 text-xl text-gray-300 dark:[&>strong]:text-green-500 [&>strong]:text-green-500 [&>strong]:font-semibold"
  >
    Ingeniero de Software, especializado en
    <strong>Desarrollo Backend</strong>  con soluciones eficientes y escalables. 
    Apasionado por la tecnología y siempre al pendiente de los avances de esta.
    
  </p>
  <nav class="flex flex-wrap gap-2 mt-8"> 
    <SocialPill href="https://linkedin.com/in/dromerof">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:dandres508@gmail.com">
      <GmailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://github.com/dromerof">
        <GitHubIcon class="size-4 md:size-5"/>
        GitHub
    </SocialPill>
    <SocialPill href= "/cv/CV DANIEL ROMERO .pdf" download="CV DANIEL ROMERO">
      <DowloadIcon class="size-4 md:size-5"/>
      CV
  </SocialPill>
  </nav>
</div>
